@use '../../../modules/variables' as vars;
@use '../../../modules/states/hovers';

a {
	@include hovers.font-hover(vars.$font-color);
	display: inline-block;
	transition: vars.$default-transition;
	text-decoration: none;
	cursor: pointer;
}