$primary:  #000;

$accent: #C5FAD5;

$warn: #E62328;

$font-color: #242424;
$font-color-light: #FFF;

$disabled: #8E8F8F;

$font-size-small: 12px;
$font-size-default: 14px;
$font-size-large: 16px;

$default-gap: 16px;
$large-gap: calc($default-gap * 2);
$small-gap: calc($default-gap / 2);

$default-border: 1px solid #424445;

$default-transition: .3s;